#root {
  max-width: 1280px;
  text-align: center;
}

.login-container {
  background-image: url("./assets/LoginBackground.png");
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #ffffff;
}





